@import "tailwindcss";

@theme {
  --color-primary: #6b50ff;
  --color-secondary: #2f4cff;
  --color-accent: #8b7cff;

  --color-main: #f7f8fa;
  --color-main-alt: #f4f5fb;
  --color-input: #f3f4f6;

  --color-text-primary: #22223b;
  --color-text-secondary: #44475a;
  --color-text-muted: #8a8ca3;

  --color-button-bg: #6b50ff;
  --color-button-text: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  background: var(--color-main);
  color: var(--color-text-primary);
}
