@import "tailwindcss";

@theme {
  --color-primary: #6c4dff;
  --color-secondary: #2f4cff;
  --color-accent: #8b7cff;

  --bg-main: #f7f8fa;
  --bg-main-alt: #f4f5fb;

  --text-primary: #22223b;
  --text-secondary: #44475a;
  --text-muted: #8a8ca3;

  --button-bg: #6c4dff;
  --button-text: #ffffff;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-main);
  color: var(--text-primary);
}
